@{
    ViewData["Title"] = "About";
}
<img src="/File/About2.jpg" alt="Lights" style="width:100%;height:auto">
<div class="page-text content container -msides">
    <p>Міжнародний аеропорт «Львів» імені Данила Галицького — найбільше летовище у Західній Україні за пасажиропотоком та маршрутною мережею, розташоване на відстані 6 км від центру міста на південь. Маршрутна мережа Аеропорту складається з 50 напрямків (47 міжнародних та 3 внутрішні).</p>
    <h2">Новий аеровокзальний комплекс</h2">
    <p>До чемпіонату Євро-2012 на території аеропорту було зведено з використанням останніх досягнень авіаційної галузі новий аеровокзальний комплекс, який відповідає сучасним технологіям обслуговування пасажирів та багажу, а також міжнародним архітектурним та технічним стандартам і вимогам ICAO (Міжнародна організація цивільної авіації) та IATA (Міжнародна Асоціація повітряного транспорту).Новий аеровокзальний комплекс було введено в експлуатацію 12 квітня 2012 року. Новий термінал «А» загальною площею 39 тис. кв.м містить 9 виходів на посадку, з них 4 - телетрапи, 28 стійок реєстрації, 18 пунктів проходження паспортного контролю та 12 пунктів проходження на авіаційну безпеку.Новий аеровокзал було збудовано з урахуванням потреб людей з обмеженими фізичними можливостями. Відтак усі зони та приміщення терміналу обладнані таким чином, щоб забезпечити комфортне пересування та обслуговування неповносправних пасажирів.</p>
</div><div class="page-module-2"></div>
