
@{
    ViewData["Title"] = "Contact";
}

<div class="page-text content container -msides">
    <p><strong>Загальні питання</strong> &ndash;<a href="mykhailo.panylyk.kn.2017@lpnu.ua">mykhailo.panylyk.kn.2017@lpnu.ua</a></p>
    <p><strong>Підтримка</strong> &ndash;<a href="mykhailo.panylyk.kn.2017@lpnu.ua">mykhailo.panylyk.kn.2017@lpnu.ua</a></p>
    <p><strong>Facebook</strong>&ndash;<a href="https://www.facebook.com/profile.php?id=100029174970576">Facebook</a></p>
    <p><strong>Instagram</strong>&ndash;<a href="https://www.instagram.com/panilik11en/">Instagram</a></p>
    <p><strong>GitHub</strong>&ndash;<a href="https://github.com/CharlieCap21">GitHub</a></p>
    <p></p>
    <p><iframe width="1000" height="450" style="border: 0;" sandbox="allow-scripts allow-forms" src="https://www.google.com/maps/place/%D0%90%D0%B5%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2/49.8136518,23.9576232,17z/data=!4m8!1m2!2m1!1z0LDQtdGA0L7Qv9C-0YDRgiDQu9GM0LLRltCy!3m4!1s0x473ae76b266a686b:0x78ee8b51ccd3ee39!8m2!3d49.8138548!4d23.9598375" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false" tabindex="0"></iframe></p>
</div>
