@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-center">Найкращі пропозиції сайтів авіакомпаній та турфірм</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <a href="https://www.flyuia.com/ua/ua/home">
                <img src="/File/index/6.png"/>
            </a>
        </div>
        <div class="col">
            <a href="https://tickets.ua/uk">
                
                <img src="/File/index/5.png"/>
            </a>
            
                 
        </div>
        <div class="col">
            <a href="https://www.onetwotrip.com/ru/">
                
                <img src="/File/index/4.png" />
            </a>
        </div>
        <div class="col">
            <a href="https://www.anywayanyday.com.ua/new">
                
                <img src="/File/index/3.png"/>
            </a>
            
        </div>
        <div class="col">
            <a href="https://ua.trip.ua/">
                
                <img src="/File/index/2.png"/>
            </a>
            
        </div>
        <div class="col">
            <a href="https://www.flyuia.com/ua/ua/home">
                
                <img src="/File/index/1.png"/>
            </a>
            
        </div>
     </div>
</div>

        <h2 class="text-center">Популярні напрямки</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/fjords.jpg">
                        <img src="/File/fjords.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Дрезден</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/lights.jpg">
                        <img src="/File/lights.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Осло</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/nature.jpg">
                        <img src="/File/nature.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Більбао</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/1599076.jpg">
                        <img src="/File/1599076.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Дортмунд</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/9649515-1000-1464157921-shutterstock_211501906.jpg">
                        <img src="/File/9649515-1000-1464157921-shutterstock_211501906.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Мюнхен</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/9649565-1000-1464157921-shutterstock_139542962.jpg">
                        <img src="/File/9649565-1000-1464157921-shutterstock_139542962.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Франкфурт</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/most-vasko-da-gama6.jpg">
                        <img src="/File/most-vasko-da-gama6.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Лондон</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/village04.jpg">
                        <img src="/File/village04.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Варшава</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/File/xDa7Yo5sAf8wnwEx5ErnuMsLh9BTmjF9.jpg">
                        <img src="/File/xDa7Yo5sAf8wnwEx5ErnuMsLh9BTmjF9.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Париж</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

